@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

@font-face {
	font-family: 'bootstrap-icons';
	src: url('/node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2') format('woff2'), url('/node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff') format('woff');
}

.action-row {
	border-bottom: 5px solid black;
}
